#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(1, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #011535;
  color: #fff;
}

.site-layout-background2 {
  background: #011535;
  color: #fff;
}

.section {
  padding-top: 0%;
  padding-bottom: 0%;
  position: absolute;
}

.site-text {
  color: #011c3f;
  background-color: #011c3f;
}

.responsive {
  width: 100%;
  height: auto;
}